<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple-id</key>
	<string>gina.l.egan@gmail.com</string>
	<key>artistId</key>
	<integer>2765976</integer>
	<key>artistName</key>
	<string>William Shakespeare</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>1282150</integer>
		<key>flavor</key>
		<string>pluspub</string>
	</dict>
	<key>book-info</key>
	<dict>
		<key>PageProgression</key>
		<string>default</string>
		<key>asset-info</key>
		<dict>
			<key>file-size</key>
			<integer>1282150</integer>
			<key>flavor</key>
			<string>pluspub</string>
		</dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>0A913648516F410F67AA706A23355F5D</string>
		<key>publication-version</key>
		<integer>375180</integer>
		<key>publisher-unique-id</key>
		<string>urn:uuid:b0e83987-8316-4db1-804a-8c8354389e3b</string>
		<key>unique-id</key>
		<integer>-3149700390655210348</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AppleID</key>
			<string>gina.l.egan@gmail.com</string>
			<key>DSPersonID</key>
			<integer>910495663</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>910495663</integer>
		</dict>
		<key>purchaseDate</key>
		<date>2018-02-06T19:25:02Z</date>
	</dict>
	<key>cover-writing-mode</key>
	<string>horizontal</string>
	<key>desktopSupportLevel</key>
	<string>supported</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>experiences</key>
	<array>
		<dict>
			<key>kind</key>
			<string>end-of-book</string>
			<key>loc</key>
			<string>epubcfi(/6/30!/4/2578/2,/1:92,/1:93)</string>
			<key>locType</key>
			<string>cfi</string>
			<key>params</key>
			<array>
				<dict>
					<key>confidence</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>version</key>
			<string>51142e871d16e622e6814acd85ca1994</string>
		</dict>
	</array>
	<key>explicit</key>
	<integer>2</integer>
	<key>fileExtension</key>
	<string>epub</string>
	<key>genre</key>
	<string>Theater</string>
	<key>genreId</key>
	<integer>10036</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>isbn</key>
	<string>9781613060421</string>
	<key>itemId</key>
	<integer>446259625</integer>
	<key>itemName</key>
	<string>Hamlet</string>
	<key>kind</key>
	<string>ebook</string>
	<key>longDescription</key>
	<string>The ghost of the recently deceased king of Denmark appears on the walls of Elsinore Castle, crying out for vengeance against his brother and murderer, the recently crowned king Claudius. But Prince Hamlet cannot be certain of his own reality. Did he really see a ghost? Is the vengeance his father demands just? Can he murder his own uncle to appease his father? The more Hamlet broods and schemes, a shadow over Elsinore is growing ever darker, until a case of mistaken identity leaves an innocent bystander murdered. Then the entire court descends into a spiral of madness, chaos, bloodshed, and suffering. Shakespeare's most famous tragedy is a bone-chilling examination of justice, revenge, and inaction.</string>
	<key>obeyPageBreaks</key>
	<integer>1</integer>
	<key>pageCount</key>
	<integer>200</integer>
	<key>primaryLanguage</key>
	<string>en</string>
	<key>publisher</key>
	<string>Bookbyte Digital</string>
	<key>releaseDate</key>
	<string>2011-06-23T07:00:00Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>scroll-axis</key>
	<string>default</string>
	<key>shouldDisableOptimizeSpeed</key>
	<false/>
	<key>shouldDisableTouchEmulation</key>
	<false/>
	<key>sort-artist</key>
	<string>William Shakespeare</string>
	<key>sort-name</key>
	<string>Hamlet</string>
	<key>translatedFromLanguage</key>
	<string>en-US</string>
	<key>vendorId</key>
	<integer>401812</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>year</key>
	<integer>2011</integer>
</dict>
</plist>
